.navbar {
    margin-top: 10px;
    padding-right: 50px;
    display: flex;
    justify-content: flex-end;
}

.random-button {
    display: flex;
    gap: 5px;
    font-size: 1.2rem;
    cursor: pointer;
}

.random-button:active > .renew-icon {
    animation: renew-animation 300ms ease-out 1;
}

@keyframes renew-animation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}