.author-quotes-container {
    display: grid;
}

.author-name {
    justify-self: center;
}

.author-quotes {
    display: grid;
    justify-content: center;
    gap: 50px;
}

.arrow-icon {
    margin-left: 20px;
    transform: rotate(180deg) scale(1.8);
    filter: invert(100%);
}